.ml-label{
    margin-left: 2rem;
}

.ml-input{
    margin-left: 2rem;
}

.wh-input{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}

.divContarinerRadio{
    margin-top: 0.5rem;
}

.wordsLabel{
    position: relative;
    color: #404040;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-top: -1rem;
}

#formPessoaFisica{
    display: block;
}


